.addWorkerAndCompany-container {
  display              : grid;
  grid-template-columns: 1fr;
  grid-template-areas  : 'row1'
    'row2'
    'row3';
  background: #13232f;
}

.addWorkerAndCompany-container>h2 {
  text-align: center;
  color     : white;
}

.addWorkerForm {
  display  : flex;
  flex-flow: column nowrap;
}

.addWorkerForm>h3 {
  text-align: center;
  font-size : 2rem;
  color     : white;
}

.inputsContainer {
  display        : flex;
  flex-flow      : row nowrap;
  justify-content: space-around;
}

.inputsContainer>input {
  border    : 1px solid white;
  color     : white;
  background: transparent;
  font-size : 1.3rem;
}

.input-dataColors {
  width        : 30%;
  border       : 1px solid black;
  padding      : 5px;
  border-radius: 5px;
}

.buttonClass {
  border       : none;
  padding      : 10px;
  color        : white;
  width        : 50%;
  margin-top   : 10px;
  border-radius: 0 0 0 5px;
  background   : #1ab188;
  font-size    : 1.3rem;
}

.addCompany-container {
  display  : flex;
  flex-flow: column nowrap;
}

.addCompany-container>h3 {
  text-align: center;
  font-size : 2rem;
  color     : white;
}

.containerForm {
  width          : 100%;
  display        : flex;
  flex-flow      : row nowrap;
  justify-content: space-around;
}

.containerForm>input {
  width     : 40%;
  border    : 1px solid white;
  color     : white;
  background: transparent;
  font-size : 1.3rem;
}

.containerForm>button {
  width: 40%;
}

.add-to-company {
  margin-bottom: 10px;
}

.btn-add-to-company {
  border       : 1px solid black;
  border-radius: 0 0 0 5px;
}